/*  Add your styling here */
h1, h2, h3 {
   font-family: 'Great Vibes', cursive;
}

p {
   font-family: 'Montserrat', sans-serif;
   font-size: 3vw;
}

.introduccion p{
  text-align: justify;
  font-size: 2.3vw;
}

footer p {
   font-size: smaller;
   font-family: 'Montserrat', sans-serif;
}



